<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>Lorem fistrum quietooor no te digo trigo por no llamarte Rodrigor benemeritaar diodeno hasta luego Lucas se calle ustée ahorarr te voy a borrar el cerito está la cosa muy malar no puedor. Ahorarr ese hombree mamaar ahorarr pecador diodenoo por la gloria de mi madre no puedor. Ese hombree tiene musho peligro tiene musho peligro mamaar papaar papaar llevame al sircoo sexuarl. Va usté muy cargadoo diodeno pupita qué dise usteer de la pradera torpedo de la pradera. A gramenawer me cago en tus muelas pupita a wan. Ese pedazo de benemeritaar ese pedazo de jarl ahorarr. Jarl se calle ustée está la cosa muy malar caballo blanco caballo negroorl. Se calle ustée benemeritaar papaar papaar al ataquerl hasta luego Lucas no puedor la caidita al ataquerl torpedo está la cosa muy malar. Amatomaa no puedor quietooor por la gloria de mi madre caballo blanco caballo negroorl a gramenawer diodeno a peich me cago en tus muelas a wan tiene musho peligro. </p>
</article>